.cart-items-container {
  width: 80%;
  background-color: #f9fbfe;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.top-headings {
  display: flex;
}
@media screen and (max-width: 576px) {
  .top-headings {
    display: none;
  }
}
.item-head {
  width: 50%;
  text-align: center;
}
.second-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.item-head {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #475569;
}
.cart-hori {
  width: 100%;
  border: 1px solid #cbd2d9;
  background-color: #cbd2d9;
  margin-bottom: 10px;
  margin-top: 10px;
}
.summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.total-amount-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
.place-order-btn {
  background-color: #f79318;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  outline: none;
  border-width: 0px;
  cursor: pointer;
  border-radius: 5px;
}
.order-total {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #3e4c59;
}
.money-total {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: right;
  color: #3e4c59;
}
